[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
.vs/
UserSettings/
screen_records.mkv


# IDE / Unity generated
*.csproj
*.sln
*.user
*.userprefs

.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large assets (keep repo lightweight)
Assets/Resources/Video/
Assets/Textures/*.fbx
Assets/窑子/

